{% extends "base.html" %}

{% block head %}
{{news.title}}
{%endblock%}


{% block content %}	
<div class = "main">
<div class ="perf_pubdate"> {{ news.pub_date|date:"G:i j.n.Y " }}</div>
<div class="defn">{{news.description}}</div>
</div>
{% endblock %}