﻿{% extends "base.html" %}

{% block head %}
Perfomances
{%endblock%}
		{% block content %}
		{% for performances_item in performances %}
			<div class="perfomance">
			
				<div class = "perfomance_left">
					<div class = "perfomance_img">
					{% if performances_item.img %}
						<img src="{{performances_item.img.url}}" alt ="картинка">
					{% endif %}
					</div>
					<p></p>
					<div class = "perfomance_time">{{ performances_item.time|date:"G:i j M Y l" }}</div>
				</div>
				<div class = "perfomance_desc fio">{{ performances_item.name|upper }}</div>
				<div class = "perf_pubdate"> {{ performances_item.pub_date|date:"G:i j.n.Y " }}</div>
		
				<br><br><br>
				<div class = "perfomance_desc">{{ performances_item.description|truncatechars:550|capfirst }}</div>
					
				<a class="more" href = "{% url 'performances:about' p=performances_item.id  %}">more</a>
				
			</div>
			
		{% endfor %}


		<div class="pagination">
            <span class="step-links" style="display: inline-block; margin-bottom: 20px">
            {% if performances.has_previous %}
                <a href="?page={{ performances.previous_page_number }}" style="display: inline-block;padding-left: 0">previous</a>
            {% endif %}

            <span class="current" style="display: inline-block">
                Page {{ performances.number }} of {{ performances.paginator.num_pages }}.
            </span>

            {% if performances.has_next %}
                <a href="?page={{ performances.next_page_number }}" style="display: inline-block">next</a>
            {% endif %}
            </span>
        </div>
		{% endblock %}
